asgiref==3.9.1
convertdate==2.4.0
Django==5.2.4
django-bootstrap==0.2.4
django-bootstrap5==25.2
ethiopian-date==1.0
pillow==11.3.0
PyMeeus==0.5.12
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
