{% extends "announcement/base.html" %}
{% load to_ethiopian_calander %}
{% block content %}

<div class="container py-5">
    <div class="breadcrumb-custom mb-4 shadow-sm text-white">
        <a href="{% url 'chencha:home' %}">ዋና ገጽ</a> /
        <a href="{% url 'chencha:announcement_list' %}">ማስታወቂያዎች</a>
    </div>
    <div class="header-main text-center shadow">
        <h1>ማስታወቂያዎች</h1>
        <p class="lead mt-3 mb-0" style="color:#cbd5e1;">ወቅታዊ ዜናዎችን እና ክስተቶችን ይመልከቱ</p>
    </div>
        <div class="row g-4">
        {% for announcement in announcements %}
            <div class="col-md-6 col-lg-4">
                <div class="card-body" align="center">
                    <h2 class="card-title">{{ announcement.title }}</h2>
                </div>
                <div class="card h-100 shadow-sm" onclick="toggleContent(this)" style="cursor: pointer;">
                    {% if announcement.image %}
                        <img src="{{ announcement.image.url }}" class="card-img-top announcement-img" alt="{{ announcement.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ announcement.title }}</h5>
                        <div style="white-space: pre-wrap;">
                        <p class="card-text short-content">{{ announcement.content|truncatewords:30 }} | </p>
                        <p class="card-text full-content" style="display: none;">{{ announcement.content }}</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-end">
                        <small class="text-muted">
                            በ {{ announcement.created_at |to_ethiopian }} የተለጠፈ
                        </small>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-0">
                <div class="alert alert-warning text-center">ይቅርታ ማስታወቂያዎች የለም።</div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock content %}


