{% load static %}
{% load to_ethiopian_calander %}
<!DOCTYPE html>
<html lang="am">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load to_ethiopian_calander %}
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>ጨንቻ ሁለተኛ ደረጃ ትምህርት ቤት</title>
    <link rel="stylesheet" href="{% static 'announcement/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'announcement/css/announcement.css' %}">
    <script src="{% static 'announcement/javascript/annnouncement.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'announcement/IMG_20250813_185042_423.jpg' %}">

</head>
<body>
    {% block content %}{% endblock content %}
    <footer class="footer text-center bg-dark text-white py-3 mp-5">
        <div class="container">
            <span >&copy; {% now "Y" %} &nbsp; ጨንቻ ሁለትና ደረጃ ትምህርት ቤት. All rights reserved.</span>
        </div>
    </div>
</footer>
</body>
</html>
