{% extends "announcement/base.html" %}
{%  load static %}

{% block content %}
    <p><a href="{% url 'chencha:register_parent' ay_pk=academic_year.pk grade_pk=grade.pk section_pk=section.pk %}">Register Parent</a></p>
    {% if students %}
    <h2>Students List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Father's Name</th>
                <th>Grandfather's Name</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.student_name }}</td>
                    <td>{{ student.father_name }}</td>
                    <td>{{ student.grand_father_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No students in {{ grade.name}} {{ section.name }}.</p>
    {% endif %}
{% endblock %}