{% extends "announcement/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="breadcrumb-custom mb-10 shadow-sm">
                <div class="text-white">
                    <a href="{% url 'chencha:dashboard' %}" class="text-white">ዳሽቦርድ</a> /
                    <a href="{% url 'chencha:show_announcement' %}" class="text-white">ማስታወቂያዎች</a>
                </div>
            </div>
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">ማስታወቅያ ለመጻፍ</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary w-100 mt-3">ማስታወቅያውን ለጥፍ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
